.mainContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading1{
    color:black;   
    cursor: pointer;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont{
    max-width: 45vw;
}
.btnEl{
    background-color: black;
    color: white;
    height: 30px;
    border-radius: 6px;
    font-weight: bold;
  }
  .btnEl:hover{
    cursor: pointer;
    color: rgb(192, 192, 164);
  }