.para{
  max-width: 600px;
}
.navEl > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.lEl {
  list-style-type: none;
  padding: 30px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
}
 
.container,.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
/* .description{
  gap: 40px;
} */

.mainContent{
  margin-top: 20px;
  /* padding: 20px; */
}
.childHead{
  font-size: 2.5rem;
}
.mainContent{
  font-size: 1.2rem;
}
.btnEl{
  background-color: black;
  color: white;
  height: 30px;
  border-radius: 6px;
  font-weight: bold;
}
.btnEl:hover{
  cursor: pointer;
  color: rgb(192, 192, 164);
}
@media only screen and (max-width:600px) {
  .lEl{
    padding: 10px;
  }
  .navEl{
    padding-right:15%;
  }

}